<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Voici mon portfolio{% endblock %}</title>
		<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
		<link href="/css/pagecss.css" rel= "stylesheet" type="text/css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="/">Accueil</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/blog">CV
					
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/blognew">Portfolio de compétences</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/blognew2">Mes loisirs</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
{% block body %}
	<title> Bienvenue sur ma 3ème page </title>
	
	<h1 class="titreport" >Mes loisirs </h1>
	
	<div class="loisir">
		<div class="card text-white bg-primary mb-3" style="max-width: 28rem;">
		  <div class="card-header">Sport</div>
		  <div class="card-body">
			<h4 class="card-title">Rugby/Musculation</h4>
			<p class="card-text"> 
			<img src="/images/rugby.jpg" class="sport1" >
			<img src="/images/rugby2.jpg" class="sport2" >
			<img src="/images/musculation.jpg" class="sport3" >
			</p>
		  </div>
		</div>
	</div>
	
	<div class="loisir2">
		<div class="card text-white bg-primary mb-3" style="max-width: 28rem;">
		  <div class="card-header">Lecture</div>
		  <div class="card-body">
			<h4 class="card-title">Cybersécurité/Thriller</h4>
			<p class="card-text">
			<img src="/images/Cybersecurite.jpg" class="livre1" >
			<img src="/images/thriller.jpg" class="livre2" >
			</p>
		  </div>
		</div>
	</div>
	
	<div class="page3">
	  <ul class="pagination">
		<li class="page-item">
		  <a class="page-link" href="/">1</a>
		</li>
		<li class="page-item">
		  <a class="page-link" href="/blog">2</a>
		</li>
		<li class="page-item">
		  <a class="page-link" href="/blognew">3</a>
		</li>
		<li class="page-item active">
		  <a class="page-link" href="/blognew2">4</a>
		</li>
	   </ul>
	</div>
{% endblock %}